.bg {
  &-black {
    background-color: #262626;
    color: #F4F4F4;

    &-lighten-1 {
      background-color: #3F3F3F;
      color: #F4F4F4;
    }

    &-lighten-2 {
      background-color: #5F5F5F;
      color: #F4F4F4;
    }
  }

  &-white {
    background-color: #fff;

    &-darken-1 {
      background-color: #F8F8F8;
    }

    &-darken-2 {
      background-color: #3f3f3f;
    }
  }
}
