@mixin background-size($size) {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size;
}

$containerWidth: #{$breakpointLargest}px;
$gutter: 1rem;
$padding: calc((100vw - #{$containerWidth}) / 2);

.contained {
  padding-right: $gutter;
  padding-left: $gutter;

  @media (min-width: #{$containerWidth} + 32px) {
    padding-right: $padding;
    padding-left: $padding;
  }

  &-left {
  	padding-right: $gutter*2;

  	@media (min-width: #{$containerWidth} + 32px) {
  	  padding-right: $padding / 2;
  	}
  }

  &-right {
    padding-left: $gutter*2;

    @media (min-width: #{$containerWidth} + 32px) {
      padding-left: $padding / 2;
    }
  }
}
