@function break($compare, $size) {

  $return: null;

  @if $compare == '<' {
    $return: 'max-width:' + ($size - 1px);
  } @else if $compare == '<=' {
    $return: 'max-width:' + ($size) + 'px';
  } @else if $compare == '>=' {
    $return: 'min-width:' + ($size) + 'px';
  } @else {
    $return: 'min-width:' + ($size + 1px);
  }

  @return $return;
}

$breakpointSmallest: 520;
$breakpointLargest: 1100;

$breakpoints: (
  small: (
    min: 0,
    max: $breakpointSmallest
  ),

  small-medium: (
    min: 0,
    max: 960
  ),

  medium: (
    min: $breakpointSmallest+1,
    max: 960
  ),

  medium-large: (
    min: $breakpointSmallest+1,
    max: 9999999 // this sucks, but it saves me from writing weird switch cases
  ),

  large: (
    min: 961,
    max: 9999999 // this sucks, but it saves me from writing weird switch cases
  )
);


