button,
.button,
.link {
  background-color: colour(button);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);

  &:hover {
    background-color: darken(colour(button), 5%);
  }

  &:focus {
    background-color: darken(colour(button), 15%);
  }
}

button,
.button {
  @include pad(.5, .5);
  display: inline-block;
  line-height: 1;

  &.m,
  &.med,
  &.mdm,
  &.medium {
    @include pad(.8, 1.2);
    font-size: 1.2rem;
  }

  &.l,
  &.lar,
  &.lrg,
  &.large {
    @include pad(1.2, 2.6);
    font-size: 1.5rem;
  }

  &.arrow-down {
    &:after {
      margin-left: .5ch;
      content: '↓';
    }
  }

  &[disabled] {
    opacity: .6;
    filter: grayscale(.5);
  }
}
