$colours: (
  white: #ffffff,
  black: #000000,

  button: #1e87f0,

  hr: #E8E8E8,

  border-light: #E8E8E8,
  border: gray,
  border-dark: #bbb,
);

@function colour($key) {
  @return map-get($colours, $key);
}
