input,
label,
textarea,
select {
  display: block;

  &:focus,
  &:valid {
    color: colour(black);
  }
}

input,
textarea,
select {
  width: 100%;
  padding: .25rem .5rem;
}

input,
select {
  height: 2.5rem;
  line-height: 1;
}

textarea {
  min-height: 2.5rem;
}

label {
  margin-bottom: .25rem;
}
