$gutter: 1rem;

grid,
[grid],
[class*='grid'], {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -1rem;

  > * {
    margin-bottom: 1rem;
  }

  &[type="auto"] {

    > * {
      margin-right: 1rem;
    }
  }

  &[type="no-wrap"],
  &[type="nowrap"] {
    flex-wrap: nowrap;

    > * {
      margin-bottom: 0;
    }
  }

  &[type="float-left"] {
    @include clearfix;
    display: block;

    > * {
      float: left;
      margin-right: 1rem;
    }
  }

  &[justify="space-around"] {
    justify-content: space-around;
  }

  &[justify="space-between"] {
    justify-content: space-between;
  }

  &[justify="centre"],
  &[justify="center"] {
    justify-content: center;
  }
}

[class*='vertical-centre'] {
  align-items: center;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

$constraints: min, max;

@each $type in $constraints {
  .#{$type} {
    @for $i from 1 through 50 {
      &-#{$i} {
        #{$type}-width: #{$i}rem !important; // Important to overwrite our flex widths
      }
    }
  }
}

.height {
  @for $i from 0 through 20 {
    &-#{$i} {
      height: #{$i}rem;
    }
  }
}

$gridColumns: 12;

@each $key, $value in $breakpoints {

  @media
  (min-width: #{map-get($value, min)}px) and
  (max-width: #{map-get($value, max)}px) {

    @for $i from 1 through $gridColumns - 1 {
      [#{$key}="#{$i}"] {
        flex-basis: calc(#{percentage($i/$gridColumns)} - #{$gutter});
        max-width: calc(#{percentage($i/$gridColumns)} - #{$gutter});
      }
    }

    [#{$key}="12"] {
      flex-basis: 100%;
      max-width: 100%;
    }

    [#{$key}="auto"] {
      overflow: hidden;
      flex: 1;
    }
  }
}

@mixin cell-auto {
  overflow: hidden;
  flex: 1;
}

.cell-auto {
  @include cell-auto;
}

@each $key, $value in $breakpoints {

  @media
  (min-width: #{map-get($value, min)}px) and
  (max-width: #{map-get($value, max)}px) {

    .cell-#{$key} {
      &-auto {
        @include cell-auto;
      }
    }
  }
}
