@mixin layout($property, $a: false, $b: false, $c: false, $d: false) {
  $value: map-get($values, $property);

  @if ($a) {
    @if $a == 'verticals' or $a == 'sides' {

      @if ($a == 'verticals') {
        #{$property}-top: $value;
        #{$property}-bottom: $value;
      }
      @else if ($a == 'sides') {
        #{$property}-right: $value;
        #{$property}-left: $value;
      }
      @else if ($a == 'top') {
        #{$property}-top: $value;
      }
      @else if ($a == 'right') {
        #{$property}-right: $value;
      }
      @else if ($a == 'bottom') {
        #{$property}-bottom: $value;
      }
      @else if ($a == 'left') {
        #{$property}-left: $value;
      }
    }

    @else {
      @if $d {
        @if $a > 0 { #{$property}-top: $a * $value; }
        @if $b > 0 { #{$property}-right: $b * $value; }
        @if $c > 0 { #{$property}-bottom: $c * $value; }
        @if $d > 0 { #{$property}-left: $d * $value; }
      }
      @else if $c {
        @if $a > 0 { #{$property}-top: $a * $value; }
        @if $b > 0 { #{$property}-right: $b * $value; #{$property}-left: $b * $value; }
        @if $c > 0 { #{$property}-bottom: $c * $value; }
      }
      @else if $b {
        @if $a > 0 { #{$property}-top: $a * $value; #{$property}-bottom: $a * $value; }
        @if $b > 0 { #{$property}-left: $b * $value; #{$property}-right: $b * $value; }
      }
      @else if $a {
        @if $a > 0 { #{$property}-top: $a * $value; #{$property}-right: $a * $value; #{$property}-bottom: $a * $value; #{$property}-left: $a * $value; }
      }
    }
  }

  @else {
    #{$property}: $value;
  }
}

@mixin pad($properties...) {
  @include layout('padding', $properties...);
}

@mixin push($properties...) {
  @include layout('margin', $properties...);
}

.pad {
  @include pad();

  @for $i from 2 through 5 {
    &-#{$i} {
      @include pad($i);
    }
  }
}

.pad-verticals {
  @include pad(verticals);

  @for $i from 2 through 5 {
    &-#{$i} {
      @include pad($i, 0);
    }
  }
}

.pad-sides {
  @include pad(sides);

  @for $i from 2 through 5 {
    &-#{$i} {
      @include pad(0, $i);
    }
  }
}

@each $side in $sides {
  .pad-#{$side} {
    padding-#{$side}: map-get($values, 'padding');
  }
}

@for $i from 2 through 5 {
  .pad-top-#{$i} {
    @include pad($i, 0, 0, 0);
  }
}

@for $i from 2 through 5 {
  .pad-right-#{$i} {
    @include pad(0, $i, 0, 0);
  }
}

@for $i from 2 through 5 {
  .pad-bottom-#{$i} {
    @include pad(0, 0, $i, 0);
  }
}

@for $i from 2 through 5 {
  .pad-left-#{$i} {
    @include pad(0, 0, 0, $i);
  }
}

.push {
  @include push();
}

.push-verticals {
  @include push(verticals);

  @for $i from 2 through 5 {
    &-#{$i} {
      @include push($i, 0);
    }
  }
}

.push-sides {
  @include push(sides);

  @for $i from 2 through 5 {
    &-#{$i} {
      @include push(0, $i);
    }
  }
}

@each $side in $sides {
  .push-#{$side} {
    margin-#{$side}: map-get($values, 'padding');
  }
}

@for $i from 2 through 5 {
  .push-top-#{$i} {
    @include push($i, 0, 0, 0);
  }
}

@for $i from 2 through 5 {
  .push-right-#{$i} {
    @include push(0, $i, 0, 0);
  }
}

@for $i from 2 through 5 {
  .push-bottom-#{$i} {
    @include push(0, 0, $i, 0);
  }
}

@for $i from 2 through 5 {
  .push-left-#{$i} {
    @include push(0, 0, 0, $i);
  }
}

@mixin spacing($spacing: false) {
  > * + * {

    @if ($spacing == false) {
      margin-top: 1rem;

    } @else {
      margin-top: $spacing;
    }
  }
}

$contentSpacing: 1rem;

%headingSpacing {
  margin-top: $contentSpacing * 2;
}

.space-contents {
  @include spacing(1rem);

  @for $i from 1 through $headingCount {
    h#{$i},
    .h#{$i} {

      + * {
        margin-top: $contentSpacing * .5;
      }

      &:not(:first-child) {
        @extend %headingSpacing;
      }
    }
  }
}
