.pad {
  @include pad();

  @for $i from 0 through 5 {
    &-#{$i} {
      @include pad($i);
    }
  }
}

.pad-verticals {
  @include pad(verticals);

  @for $i from 0 through 5 {
    &-#{$i} {
      @include pad($i, 0);
    }
  }
}

.pad-sides {
  @include pad(sides);

  @for $i from 0 through 5 {
    &-#{$i} {
      @include pad(0, $i);
    }
  }
}

@each $side in $sides {
  .pad-#{$side} {
    padding-#{$side}: map-get($values, 'padding');
  }
}

@each $side in $sides {
  .pad-#{$side}-0 {
    padding-#{$side}: 0;
  }
}

@for $i from 0 through 5 {
  .pad-top-#{$i} {
    @include pad($i, 0, 0, 0);
  }
}

@for $i from 0 through 5 {
  .pad-right-#{$i} {
    @include pad(0, $i, 0, 0);
  }
}

@for $i from 0 through 5 {
  .pad-bottom-#{$i} {
    @include pad(0, 0, $i, 0);
  }
}

@for $i from 0 through 5 {
  .pad-left-#{$i} {
    @include pad(0, 0, 0, $i);
  }
}

.push {
  @include push();
}

.push-verticals {
  @include push(verticals);

  @for $i from 0 through 5 {
    &-#{$i} {
      @include push($i, 0);
    }
  }
}

.push-sides {
  @include push(sides);

  @for $i from 0 through 5 {
    &-#{$i} {
      @include push(0, $i);
    }
  }
}

@each $side in $sides {
  .push-#{$side} {
    margin-#{$side}: map-get($values, 'padding');
  }
}

@for $i from 0 through 5 {
  .push-top-#{$i} {
    @include push($i, 0, 0, 0);
  }
}

@for $i from 0 through 5 {
  .push-right-#{$i} {
    @include push(0, $i, 0, 0);
  }
}

@for $i from 0 through 5 {
  .push-bottom-#{$i} {
    @include push(0, 0, $i, 0);
  }
}

@for $i from 0 through 5 {
  .push-left-#{$i} {
    @include push(0, 0, 0, $i);
  }
}

.spacing {
  @include spacing(1rem);
}

.spacing-2 {
  @include spacing(2rem);
}

$contentSpacing: 1rem;

%headingSpacing {
  margin-top: $contentSpacing * 2;
}

.spacing-article {
  @include spacing(1rem);

  @for $i from 1 through $headingCount {
    h#{$i},
    .h#{$i} {

      + * {
        margin-top: $contentSpacing * .5;
      }

      &:not(:first-child) {
        @extend %headingSpacing;
      }
    }
  }
}
