[class*='ratio'] {
  position: relative;

  &:before {
    display: block;
    width: 100%;
    content: '';
  }
}

@for $i from 1 through 40 {
  $ratio: $i * 10;

  .ratio-#{$ratio} {

    &:before {
      padding-bottom: #{$ratio}#{%};
    }
  }
}
