@function font-stack($family) {

  $return: null;

  @if ($family == 'franklin') {
    $return: 'Georgia', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;

  }

  @return $return;
}

@mixin font-scale($smallestFont, $largestFont) {

  font-size: #{$smallestFont}px;

  @media (min-width: #{$breakpointSmallest}px) and (max-width: #{$breakpointLargest}px) {
    font-size: calc(#{$smallestFont}px + (#{$largestFont} - #{$smallestFont}) * ( (100vw - #{$breakpointSmallest}px) / ( #{$breakpointLargest} - #{$breakpointSmallest}) ));
  }

  @media (min-width: #{$breakpointLargest}px) {
    font-size: #{$largestFont}px;
  }

}

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

$textSmallest: 14;
$textLargest: 36;

$lineHeight: 1.5;

$bodyTextSmallest: $textSmallest;
$bodyTextLargest: 18;

:root {
  @include font-scale($textSmallest, $bodyTextLargest);
  font-family: 'Roboto', sans-serif;
}

body {
  line-height: $lineHeight;
}

%heading {
  font-family: 'Slabo 27px', serif;
  letter-spacing: .02em;
}

$modular: 1.2;
$headingCount: 3;
$headingCountMax: $headingCount + 1;

@for $i from 1 through $headingCount {
  h#{$i},
  .h#{$i} {
    @extend %heading;
  }
}

@for $i from 1 through $headingCount {
  h#{$i} {
    font-size: #{pow($modular, $headingCountMax - $i)}em;
  }
}

h#{$headingCountMax} {
  font-weight: bold;
}

blockquote {
  font-style: italic;
}

.text {
  &-caps {
    text-transform: uppercase;
  }

  &-small {
    font-size: .9rem;
  }
}

a {
  color: colour(button);

  &:hover {
    color: darken(colour(button), 5%);
  }

  &:focus {
    color: darken(colour(button), 15%);
  }
}

hr {
  display: block;
  height: 2px;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  background: colour(hr);
  border: none;
}

.text-align {
  $directions: left, right, center;

  @each $direction in $directions {
    &-#{$direction} {
      text-align: #{$direction};
    }
  }

  &-centre {
    text-align: center;
  }
}

.text-colour {
  &--white {
    color: colour(white);
  }
}

.list-style {
  &-none {
    list-style: none;
  }
}

&.arrow-down {
  &:after {
    margin-left: .5ch;
    content: '▾';
  }
}

[data-forcefeed],
.dummy {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    padding: .4rem 1rem .4rem .6rem;
    color: white;
    font-size: 12px;
    white-space: nowrap;
    background: url('/dist/img/loading.gif') no-repeat right center rgba(0, 0, 0, .8);
    border-bottom-right-radius: 8px;
    content: 'Awaiting content';
  }

  &:hover {
    // cursor: wait;

    &:before {
      opacity: 1;
    }
  }
}

[data-forcefeed*='sentences'] {
  * + * {
    margin-top: 1rem;
  }
}

[data-forcefeed*='listitems'] {
  * + * {
    margin-top: .5rem;
  }
}

[data-forcefeed*='words'] {
  display: inline-block;

  &::first-letter {
    text-transform: uppercase;
  }
}

