@mixin hide {
  display: none !important;
}

@mixin show {
  display: block !important;
}

/*

  Should these * always * be !important? We'll find out!

  Might be only the media query ones need it..

*/

@mixin visibility($state) {
  @if ($state == 'hide') {
    @include hide;
  }

  @else if ($state == 'show') {
    @include show;
  }
}

$visibility: hide, show;

@each $state in $visibility {

  .#{$state},
  [#{$state}] {
    @include visibility($state);
  }

  @each $key, $value in $breakpoints {

    @media
    (min-width: #{map-get($value, min)}px) and
    (max-width: #{map-get($value, max)}px) {

      [#{$key}="#{$state}"] {
        @include visibility($state);
      }
    }
  }
}

group {
  > *:not(.is--open) {
    display: none;
  }
}
