tabs {
  @extend flex;
  overflow-x: scroll;

  > * {
    flex: 1;
    white-space: nowrap;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:not(:last-child) {
      margin-right: .25rem;
    }

    &:not(.is--open) {
      opacity: .7;
    }
  }
}
