tabs {
  @extend flex;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  > * {
    flex: 1;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    font-weight: bold;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: .25rem;
    }

    &:not(.is--open) {
      // opacity: .7;
    }

    &.is--open {
      @extend .button;
      color: white;
    }

    &.is--active {

    }
  }
}
